<article class="campaign">
	<section class="campaign-head">
		<h1><%= @campaign.title %></h1>
		<small>
			<time><%= @campaign.created_at.to_date.strftime("%d %B, %Y")%>	</time>
			|
			<%= link_to t('common.edit'),edit_campaign_path(@campaign)%>

			<%= link_to t('common.delete'),campaign_path(@campaign), method: :delete, data:{confirm:'Sure?'}%>
		</small>
	</section>

	<section class="campaign-body">
		<%= markdown(@campaign.body) %>
	</section>
</article>
